# Decision Tree Classifier Algorithm
This algorithm is used to predict a categorical prediction.

### **Difference between Linear Regression and Decision Tree Algoritham**

Linear regression algoritham is used to predict a continuous value/prediction and Decision tree algoritham is used to predict a categorica value/prediction.

In [184]:
# import libraries
import pandas as pd
df = pd.read_csv("mldata (3).csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [185]:
# replacing values from the gender column to zero and 1
df["gender"] = df["gender"].replace("Male", 1)
df["gender"] = df["gender"].replace("Female", 0)

In [186]:
df

     age   height  weight  gender likeness
0     27  170.688    76.0       1  Biryani
1     41  165.000    70.0       1  Biryani
2     29  171.000    80.0       1  Biryani
3     27  173.000   102.0       1  Biryani
4     29  164.000    67.0       1  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0       1   Pakora
241   26  172.000    70.0       1  Biryani
242   40  178.000    80.0       1  Biryani
243   25    5.700    65.0       1  Biryani
244   33  157.000    56.0       0   Samosa

[245 rows x 5 columns]

In [187]:
# splitting data into input and output variables
X = df[["weight", "gender"]]
y = df["likeness"]

In [188]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [189]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [190]:
# importing machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# creating and fitting our model 
model = DecisionTreeClassifier().fit(X, y)

In [191]:
# predicting value from our model
model.predict([[70, 1]])

c:\Users\Hamza\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

> now our model is ready:)

#### How to measure the accuracy of the model

We can use split data into train and test variable by (80//20) rule to measure the accuracy of our model

In [192]:
# importing libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# divide the data into test and train by 80/20 rule
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2)

In [193]:
# creating a mdoel 
model = DecisionTreeClassifier()
# fitting our model
model.fit(X_train, y_train)

DecisionTreeClassifier()

Now our model is ready, how to check its accuracy? To check that we will compare "X_test" data set with "y_test" data set.

In [194]:
# predicting value of X_test and saving it inot new variable
# then we will compare it with actual value of remaining 20% data which is in "y_test"
X_predicted_value =  model.predict(X_test)
X_predicted_value

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Pakora', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [195]:
# checking the accuracy of our model by comparing it with actual values of "y_test"
score = accuracy_score(X_predicted_value, y_test)
score #

0.6122448979591837

> Our model accuracy is 0.69. Accuracy score which is equal to .75 or more than it is considered very good.

> --------------------------------------------------------------------------

# How To Train and Save Our Model
We can also save our model and use it later

In [198]:
# import libraries
import pandas as pd 
import joblib
from sklearn.tree import DecisionTreeClassifier

# training and fitting our model
model = DecisionTreeClassifier().fit(X, y)

# saving model 
joblib.dump(model, "Foodie.joblib")
# after running above line, a new file of our model is created with name Foodie.joblib

['Foodie.joblib']

#### *Assignment is: how to import/run a stored or saved model on our data?*
WE need to find out this

----

# Visualization

In [202]:
# importing library
from sklearn import tree
model = DecisionTreeClassifier().fit(X, y) # our model is ready

# graphical evaluation
tree.export_graphviz(model, 
                     out_file="foodie.dot",
                     feature_names = ["weight", "gender"],
                     class_names = sorted(y.unique()),
                     label="all",
                     rounded= True,
                     filled= True)